
button {
	margin: 2px;
}

.small_title {
	border-bottom: 1px solid #175e64;
	margin: 10px;
	font-weight: bold;
	padding: 2px 5px;
}
.small_title_inline_right {
	display: inline-block;
	border-bottom: 1px solid #175e64;
	margin: 10px 0px 3px;
	font-weight: bold;
	padding: 2px 5px;
	min-width: 300px;
}
.wrapper {
	display: inline-block;
	width: 310px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	visibility: hidden;
}

.small_section {
	margin-left: 15px;
}

#option_hero {
	background: transparent no-repeat 0% center/43px auto;
	padding: 0px 5px 0px 45px;
	height: 1.7em;
}

#option_hero option {
	background: transparent no-repeat 0% center/43px auto;
	padding: 4px 7px 4px 47px;
	margin-right: -47px;
}

#enemy_radio_td label {
	display: inline-block;
}

#enemy_radio_td input {
	margin-left: 8px;
	margin-right: 3px;
}

#abilities th.image {
	background-position: 0% center;
	background-size: 30px auto;
	background-repeat: no-repeat;
	padding: 0px 7px 0px 35px;
	height: 30px;
}

#most_options label {
	display: inline-block; /* prevent wrapping */
	margin-right: 15px;
}

#most_options input {
	margin: 4px;
	margin-left: 0px;
}

#items_combined input {
	width: 4em;
	margin-left: 5px;
}
